aiofiles==0.6.0
aiohttp==3.7.2
aiokafka==0.6.0
aioredis==1.3.1
aiosignal==1.2.0
alembic==1.4.3
anyio==3.5.0
appdirs==1.4.3
APScheduler==3.9.1
arq==0.22
asgiref==3.5.0
async-timeout==3.0.1
attrs==20.2.0
backports-datetime-fromisoformat==1.0.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
boto==2.49.0
boto3==1.21.6
botocore==1.24.6
bs4==0.0.1
CacheControl==0.12.6
cached-property==1.5.2
cachetools==5.0.0
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
cloudinary==1.24.0
colorama==0.4.3
contextlib2==0.6.0
cryptography==3.2.1
DateTime==4.3
distlib==0.3.0
distro==1.4.0
Django==4.0.3
docutils==0.18.1
dynaconf==3.1.2
ecdsa==0.14.1
enum34==1.1.10
et-xmlfile==1.1.0
fake-useragent==0.1.11
fastapi==0.75.1
frozenlist==1.3.0
gevent==21.12.0
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.0
greenlet==1.1.2
gunicorn==20.0.4
h11==0.11.0
hiredis==2.0.0
html5lib==1.0.1
httplib2==0.20.4
httptools==0.1.1
icalendar==4.0.9
idna==2.8
inflection==0.5.1
ipaddr==2.2.0
Jinja2==2.11.2
jmespath==0.10.0
kafka-logger==0.3.0
kafka-python==2.0.2
lockfile==0.12.2
logstash-formatter==0.5.17
loguru==0.6.0
lxml==4.8.0
Mako==1.1.3
markdownify==0.5.3
MarkupSafe==1.1.1
mongoengine==0.24.1
motor==2.3.0
msal==1.17.0
msgpack==0.6.2
multidict==5.0.0
mypy-extensions==0.4.3
nylas==5.6.0
O365==2.0.18.1
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.9
packaging==20.3
passlib==1.7.4
pathvalidate==2.5.0
pep517==0.8.2
pid==3.0.4
Pillow==8.0.1
progress==1.5
protobuf==3.19.4
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
pydantic==1.9.0
pydantic-choices==0.1.1
pymongo==3.11.0
pyparsing==2.4.6
pyslack==0.5.0
python-daemon==2.3.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.4
pytz-deprecation-shim==0.1.0.post0
redis==3.5.3
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.5.1
schedule==1.1.0
service==0.6.0
setproctitle==1.2.2
six==1.14.0
slackclient==2.9.3
sniffio==1.2.0
soupsieve==2.0.1
SQLAlchemy==1.3.20
SQLAlchemy-Ext==0.2
sqlalchemy-orm==1.2.2
SQLAlchemy-Utils==0.38.2
sqlparse==0.4.2
starlette==0.17.1
stringcase==1.2.0
style==1.1.0
toml==0.10.2
typing-extensions==3.7.4.3
typing-inspect==0.7.1
tzdata==2022.1
tzlocal==4.2
update==0.0.1
uritemplate==4.1.1
urllib3==1.25.8
URLObject==2.4.3
uvicorn==0.12.2
webencodings==0.5.1
yarl==1.6.2
zope.event==4.5.0
zope.interface==5.1.2
